.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: auto;

  z-index: 1000;
  background: rgba(0,0,0,0.7 );
  border-radius: 0;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar-container {
  max-width: 1600px;
  margin:0 auto;
  padding: 16px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 14px;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.navbar-logo img {
  height: 58px;
  cursor: pointer;
}
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 200px;
  margin: 0;
  padding: 0;
}
.navbar-menu li {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s ease;
}
.navbar-menu li:hover {
  color: #00bcd4;
}